In [21]:
import pandas as pd
import json

In [22]:
file_name = 'session_info.json'

with open(file_name, 'r') as f:
    data = json.load(f)

df = pd.DataFrame(data).T
df.head()

,control_mode,description,driver,flag,weather_condition
"range(start: 2024-04-20T07:05:20.540112Z, stop: 2024-04-20T07:05:52.860302Z)",Rien,r2d spark,Unknown,None,Dry
"range(start: 2024-04-20T07:10:02.118172Z, stop: 2024-04-20T07:10:23.507911Z)",Rien,r2d spark,Unknown,None,Dry
"range(start: 2024-04-20T07:11:01.067986Z, stop: 2024-04-20T07:11:09.738561Z)",Rien,r2d spark,Unknown,None,Dry
"range(start: 2024-04-20T07:14:34.837534Z, stop: 2024-04-20T07:14:46.848569Z)",Rien,r2d spark,Unknown,None,Dry
"range(start: 2024-04-20T10:26:56.767684Z, stop: 2024-04-20T10:28:24.988004Z)",Rien,System id linear torque,Aubin,None,Dry

In [23]:
df['description'].values

array(['r2d spark', 'r2d spark', 'r2d spark', 'r2d spark',
       'System id linear torque', 'System id linear torque',
       'System id step torques',
       '80-20 torque bias is to high, rear motors saturate to quickly and front motor underperforme',
       None, None, None, None, None, None, 'pretty good state estimator',
       None, None, None, None, None,
       'Motor FL FR RL stopped working but not at the same time, FL FR time 7.40 and RL time 7.75',
       'Motor FL FR RL not working after 5s', None, None, None, None,
       None, 'strong accel but state estimator not working',
       'State estimation not working', None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       'libre', 'TV libre kp=100, K=0', 'TV libre kp=50 on knob, K=0',
       'TV libre kp=50-80 on knob , K=-0.001', 'free', None,
       'replacement', None, 'skidpad', 'diffï¿½rentiel bloquï¿½',
       'skidpad', None, 'differentiel bloquÃ©', 'code trop lent',
       'code trop lent', 'skidpad', 'diff dÃ©bloquÃ© debug',
       'diff dï¿½bloquï¿½', 'skidpad, front wheel slip',
       "diff dï¿½bloquï¿½ slip observï¿½ ï¿½ l'avant",
       'diffï¿½rentiel dï¿½bloquï¿½ slip avant',
       'skidpad, front wheel  slip', 'diff dï¿½bloquï¿½ slip avant',
       'diffï¿½rentiel dï¿½bloquï¿½ slip avant', 'skidpad',
       'diffï¿½rentiel bloquï¿½', 'diffï¿½rentiel bloquï¿½',
       'start TV kp=40', 'start kp = 30', 'start TV',
       'to much front slip generated by TCO',
       'to much front slip generated by TCO', None,
       "STOP TV, trop de slip Ã\xa0 l'avant et limite des pneus en lateral",
       None, '60-40 weigth distribution', None, None, None, None, None,
       None, 'kp 40 cone touchÃ©', 'cone touchï¿½ kp 40', 'bien kp 40',
       'bien kp 40', 'good kp 40', 'kp 50 cone touchÃ©',
       'kp 50 cone touchï¿½', 'kp 50 ', 'kp 50 cone touchÃ©',
       'kp 50 conse touchï¿½s', 'kp 50 cone touchï¿½',
       'kp 60 debut de sensation de saturation du train avant',
       'kp 60 debut de sensation de saturation du train avant',
       'kp 60 debut de saturation du train avant',
       'kp 70 saturation train avant camber positif',
       'kp 70 saturation train avant camber positif',
       'kp 70 saturation train avant et camber positif',
       'kp 80 saturation train avant et camber positif',
       'kp 80 saturation train avant et camber positif ',
       'kp 80 saturation train avant et camber positif',
       'kp 80 saturation train avant et camber positif', 'kp 90', None,
       'kp 90', 'estimator error', 'perte de puissance',
       'estimator error', 'estimator error', 'estimator error', '', None,
       None, 'lost rear a bit', "perdu l'arriere un peu", None,
       'blockage roue RL kp 130 ?', 'RL wheel locked',
       'beaucoup d input volant knob 10', None,
       'beaucoup d input volant knob 10', "moins d'input pilote", None,
       "moins d'input pilote", 'oversteer bizarre', 'oversteer bizarre ',
       'NA', 'knob 8 slow run', 'knob 8 very good run',
       'knob 10 good run', 'knob 10 steering wheel got locked',
       'replacement', 'knob 10 good run, clean, slow ?',
       'Kunder -0.001 knob 8 good run', 'Kunder -0.001 knob 8 good run',
       'Kunder -0.001 knob 10 good run', 'Kunder -0.001 knob 10 good run',
       'NA', 'Kunder -0.002 knob 8 bad, abrupt torque ', 'Kunder -0.002',
       'Kunder -0.002', 'Kunder -0.002', 'Kunder -0.002',
       'Drove on the street to main testing area',
       'Front wheel drive, much slip', 'Front wheel drive',
       'Rear wheel drive', 'Test aero and AMS', 'Test aero and AMS',
       'Test aero and AMS'], dtype=object)

In [24]:
def split_start_end_date(range_str: str):
    start_datetime = range_str.split(' ')[1]
    end_datetime = range_str.split(' ')[-1]
    start_date = start_datetime.split('T')[0]
    end_date = end_datetime.split('T')[0]
    return start_date, end_date

start_end_dates = [split_start_end_date(range_str) for range_str in df.index]
start_dates = [start_date for start_date, end_date in start_end_dates]
end_dates = [end_date for start_date, end_date in start_end_dates]
df['start_date'] = start_dates
df['end_date'] = end_dates
df['start'] = [s.split(' ')[1] for s in df.index]
df.head()

,control_mode,description,driver,flag,weather_condition,start_date,end_date,start
"range(start: 2024-04-20T07:05:20.540112Z, stop: 2024-04-20T07:05:52.860302Z)",Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:05:20.540112Z,"
"range(start: 2024-04-20T07:10:02.118172Z, stop: 2024-04-20T07:10:23.507911Z)",Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:10:02.118172Z,"
"range(start: 2024-04-20T07:11:01.067986Z, stop: 2024-04-20T07:11:09.738561Z)",Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:11:01.067986Z,"
"range(start: 2024-04-20T07:14:34.837534Z, stop: 2024-04-20T07:14:46.848569Z)",Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:14:34.837534Z,"
"range(start: 2024-04-20T10:26:56.767684Z, stop: 2024-04-20T10:28:24.988004Z)",Rien,System id linear torque,Aubin,None,Dry,2024-04-20,2024-04-20,"2024-04-20T10:26:56.767684Z,"

In [25]:
df['start_date'].unique()

array(['2024-04-20', '2024-05-04'], dtype=object)

In [26]:
# Create a session index per day
df['session_index'] = df.groupby('start_date').cumcount()

In [27]:
# Save the updated dataframe
df_dict = df.to_dict(orient='index')
with open('new ' + file_name, 'w') as f:
    f.write(json.dumps(df_dict, sort_keys=True, indent=4, ensure_ascii=False))

In [28]:
new_df = df.copy()
new_df.reset_index(drop=True, inplace=True)
new_df.head()

,control_mode,description,driver,flag,weather_condition,start_date,end_date,start,session_index
0,Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:05:20.540112Z,",0
1,Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:10:02.118172Z,",1
2,Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:11:01.067986Z,",2
3,Rien,r2d spark,Unknown,None,Dry,2024-04-20,2024-04-20,"2024-04-20T07:14:34.837534Z,",3
4,Rien,System id linear torque,Aubin,None,Dry,2024-04-20,2024-04-20,"2024-04-20T10:26:56.767684Z,",4

In [29]:
print(new_df.columns)
new_df.set_index(['start_date', 'session_index'], inplace=True)
new_df.head()

Index(['control_mode', 'description', 'driver', 'flag', 'weather_condition',
       'start_date', 'end_date', 'start', 'session_index'],
      dtype='object')

                         control_mode              description   driver  flag  \
start_date session_index
2024-04-20 0                     Rien                r2d spark  Unknown  None
           1                     Rien                r2d spark  Unknown  None
           2                     Rien                r2d spark  Unknown  None
           3                     Rien                r2d spark  Unknown  None
           4                     Rien  System id linear torque    Aubin  None

                         weather_condition    end_date  \
start_date session_index
2024-04-20 0                           Dry  2024-04-20
           1                           Dry  2024-04-20
           2                           Dry  2024-04-20
           3                           Dry  2024-04-20
           4                           Dry  2024-04-20

                                                 start
start_date session_index
2024-04-20 0              2024-04-20T07:05:20.540112Z,
           1              2024-04-20T07:10:02.118172Z,
           2              2024-04-20T07:11:01.067986Z,
           3              2024-04-20T07:14:34.837534Z,
           4              2024-04-20T10:26:56.767684Z,

In [30]:
new_dict = new_df.to_dict(orient='index')

good_dict = {}
for key, value in new_dict.items():
    if good_dict.get(key[0]) is None:
        good_dict[key[0]] = {}
    good_dict[key[0]][key[1]] = value

for key, value in good_dict.items():
    with open(f'session_information/{key}.json', 'w') as f:
        value['description'] = 'hello world'
        f.write(json.dumps(value, indent=4, ensure_ascii=False))